default_layout "compact"
on_force_close "detach"
pane_frames true
simplified_ui true
scrollback_editor "nvim -u scrollback.lua"

keybinds clear-defaults=true {
	normal {
		bind "`" { SwitchToMode "tmux"; }
	}
	renametab {
		bind "Enter" { SwitchToMode "normal"; }
		bind "Esc" { UndoRenameTab; SwitchToMode "tmux"; }
	}
	tmux {
		bind "H" { NewPane "Left"; SwitchToMode "normal"; }
		bind "J" { NewPane "Down"; SwitchToMode "normal"; }
		bind "K" { NewPane "Up"; SwitchToMode "normal"; }
		bind "L" { NewPane "Right"; SwitchToMode "normal"; }

		bind "h" { MoveFocus "Left"; }
		bind "j" { MoveFocus "Down"; }
		bind "k" { MoveFocus "Up"; }
		bind "l" { MoveFocus "Right"; }

		bind "/" { EditScrollback; SwitchToMode "Normal"; }
		bind "," { SwitchToMode "RenameTab"; TabNameInput 0; }
		bind "[" { SwitchToMode "scroll"; }
		bind "Enter" { SwitchToMode "normal"; }
		bind "r" { SwitchToMode "resize"; }

		bind "Space" { NextSwapLayout; }
		bind "c" { NewTab; SwitchToMode "normal"; }
		bind "`" { GoToNextTab; }
		bind "o" { FocusNextPane; }
		bind "p" { GoToPreviousTab; }
		bind "q" { Detach; }
		bind "x" { CloseFocus; SwitchToMode "normal"; }
		bind "w" { ToggleFloatingPanes; SwitchToMode "normal"; }
	}
	resize {
		bind "h" { Resize "Left"; }
		bind "j" { Resize "Down"; }
		bind "k" { Resize "Up"; }
		bind "l" { Resize "Right"; }

		bind "Enter" { SwitchToMode "normal"; }
		bind "`" { SwitchToMode "normal"; }
	}
	shared_except "normal" {
		bind "Esc" { SwitchToMode "normal"; }
	}
}

plugins {
}

ui {
	pane_frames {
		rounded_corners true
	}
}
